<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{userThatsLooking.first_name}} {{userThatsLooking.last_name}} Quotes</h1>
    {% for quote in userquotelist.quotes_uploaded.all %}
    {% csrf_token %}
    <p>{{quote.author}}: {{quote.quote}}</p>
    {% endfor %}
    
    <a href="/quotes">Go Main page</a>

    <a href="/logout"><button>Log out</button></a>

</body>
</html>